:root {
  --text-color: #cccccc;
  --main-bgc-color: #212121;
  --container-bgc-color: #333;
  --container-text-color: #cccccc;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
}
/* General */

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  border-bottom: 0.0625rem solid gray;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--main-bgc-color);
}

header h2 {
  text-transform: uppercase;
  font-style: italic;
  color: var(--text-color);
}

header button {
  padding: 1rem 2.4rem;
  border: none;
  border-radius: 0.5625rem;
  cursor: pointer;
  background-color: #333;
  color: #cccccc;
}

header button:hover {
  background-color: red;
}
/* Header */

/* Wrapper */

.wrapper {
  display: flex;
}

/* Wrapper */

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.sidebar button {
  padding: 1rem 2rem;
  background-color: var(--container-bgc-color);
  color: var(--container-text-color);
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar button:hover {
  background-color: red;
}

/* Sidebar */

/* Container */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  flex: 1;
}

.container div {
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
}

.container div textarea {
  padding: 1rem;
  resize: none;
  border-radius: 0 0 9px 9px;
  border: 1px solid black;
  min-height: 16rem;
  background-color: #333;
  color: #cccccc;
  border: none;
}

.container div input {
  color: white;
  padding: 1rem 1rem;
  border: none;
  text-transform: uppercase;
  background-color: #444;
  color: #eeeeee;

  border-radius: 9px 9px 0 0;
}

.container div ion-icon[name="close-outline"] {
  font-size: 1.6rem;
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  cursor: pointer;
  border-radius: 100%;
  background-color: red;
  padding: 0.1rem;
}
.container div ion-icon[name="checkmark-done-outline"] {
  font-size: 1.6rem;
  position: absolute;
  bottom: 0.4rem;
  right: 3rem;
  cursor: pointer;
  border-radius: 100%;
  background-color: red;
  padding: 0.1rem;
}

.container div:focus,
.container input:focus,
.container textarea:focus {
  outline: none;
}

/* Container */
