:root {
  --bgc: #fafad2;
  --text: #696969;
  --main: #4682b4;
}
body {
  color: var(--text);
  background-color: var(--bgc);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  border: 1px solid var(--main);
  width: 30rem;
  height: 32rem;
  border-radius: 9px;
  text-align: center;
}

textarea {
  width: 25rem;
  height: 17rem;
  resize: none;
  outline: none;
  border: none;
  box-shadow: 0.3px 0.3px 10px 1px var(--main);
  padding: 0.6rem;
  margin-bottom: 2rem;
}

.word,
.letter {
  font-size: 1.2rem;
  font-weight: 600;
}
